version: '3.8'
services:
  spring-boot-memory-demo:
    container_name: memory-demo
    image: ixor/memory-demo:latest
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx1000m -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.port=9010 -Dcom.sun.management.jmxremote.rmi.port=9010 -Dcom.sun.management.jmxremote.host=0.0.0.0 -Djava.rmi.server.hostname=0.0.0.0
    ports:
      - "8080:8080"
      - "9010:9010"
    deploy:
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 2048M
